.user-selected-projects-section {
  display: flex;
  height: 100%;
  width: 100%;
}

.edit-project-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}

.selected-project {
  height: 80vh;
  width: 50%;
}

.edit-resources {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 47rem;
  width: 50%;
  overflow: scroll;
}

.edit-selected-project {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 4rem;
  width: 50%;
}

.edit-project-info {
  height: 40rem;
  background-image: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);  width: 20rem;
  padding: 2rem;
  border-radius: .7rem;
  border: 1px solid white;
}

.selected-info {
  color: white;
}

.selected-info-resources {
  height: 10rem;
  overflow: scroll;
}

.resources {
  width: 80%;
  height: 10rem;
}

.project-photo {
  width: 20rem;
}

.edit-resource-button {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border-radius: 0.6em;
  cursor: pointer;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1em 1em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  border-color: #3498db;
  color: #fff;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  transition: all 150ms ease-in-out;
  width: 12rem;
  max-height: 4rem;
}

.edit-resource-button:hover {
  color: #fff;
  outline: 0;
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}