.Card {  
  display: inline-block;
  position: relative;
  height: 20rem;
  width: 45rem;
  background-image: radial-gradient(to top, #09203f 0%, #537895 100%);
  margin: 1rem 3rem;
  color: white;
  font-size: x-large;
  border-radius: 0.7em;

}