.selected-project-card {
  display: inline-block;
  /* height: 75vh; */
  width: 45rem;
  background-image: radial-gradient(to top, #09203f 0%, #537895 100%);
  margin: 1rem 3rem;
  color: white;
  font-size: x-large;
  border-radius: 0.7em;
  padding-bottom: 2rem;
}

.project-image {
  border-radius: 0.7em 0.7em 0 0;
  width: 45rem;
  height: 20rem;
}

.edit-project-button {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border-radius: 0.6em;
  cursor: pointer;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1em 1em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  border-color: #3498db;
  color: #fff;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  transition: all 150ms ease-in-out;
  width: 12rem;
  max-height: 4rem;
}

.edit-project-button:hover {
  color: #fff;
  outline: 0;
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}