.App {
  text-align: center;
  background-image: url('http://www.backgrounds-desktop.com/uploads/posts/2017-10/1_los_angeles_neighborhood.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

