.App {
  text-align: center;
  background-image: url('../../images/neighborhood-back.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Space Mono', monospace;
}

